#mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #full {
        background-color: rgb(231, 44, 44);
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: contents;
    }
}